<% if @user.errors.any? %>
  <div id="error_messages">
    <ul>
    <% @user.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>
</div>
<% end %>

<%= form_for @user do |f| %>
  <div class="field">
     <%= f.text_field :first_name, :placeholder => 'First Name' %>
  </div>

  <div class="field">
     <%= f.text_field :last_name, :placeholder => "Last Name" %>
  </div>

  <div class="field">
     <%= f.text_field :email, :placeholder => 'Email' %>
  </div>

  <div class="field">
     <%= f.password_field :password, :placeholder => "Password" %>
  </div>
  <div class="field">
     <%= f.password_field :password_confirmation, :placeholder => 'Re-enter password' %>
  </div>

  <div class="field">
     <%= f.submit %>
  </div>

<% end %>
