<h1><%= @user.first_name%> <%= @user.last_name %></h1>

<h2>Backed Projects </h2>
  <h3> You have backed <%=@user.backed_projects.count %> projects.</h3>
  <% @user.backed_projects.each do |project| %><br />
    <%= link_to project.title, project %> <br />
    <%= project.description %><br />
  <% end %>

<h2>Total Pledged:</h2>
  <p><%= number_to_currency(@user.pledges.sum(:dollar_amount)) %></p>

<h2>Projects</h2>
  <h3> You have <%=@user.projects.count %> projects </h3>
  <% @user.projects.each do |project| %><br />
  <%= project.title %><br /%>
  <% end %>
