<section class="container">

  <div class="feature-project">
    <h2>Search</h2>
    <hr>

    <center>
    <%= form_tag projects_path, :method => 'get' do %>
    <%= text_field_tag :search, params[:search], :class => 'full-width', :placeholder => 'Search by title, description or category' %>
    <% end %></center>

    <p></p>

    <h2>Featured Project</h2>
    <hr>
  </div>
  
</section>

<section class="container flex-container">

  <% @projects.each do |project| %>

    <div class="project flex-child">

      <%= link_to project, class: 'project-link' do %>

        <figure class="project-image">
          <% if project.image %>
            <%= image_tag project.image %>
          <% else %>
            <%= image_tag ActionController::Base.helpers.asset_path("default.jpg") %>
          <% end %>
        </figure>

      <div class="project-description">
        <h1 class="project-title"><%= project.title %></h1><% end %>
        <time class="project-days-left">
          <%= icon('clock-o') %>
          <%= "#{time_ago_in_words(project.end_date)} #{( project.end_date > Time.now.utc ) ? 'remaining' : 'past deadline'}" %></time>
          <span class="project-goal">$<%= project.goal %></span>
        <hr>
        <p><%= project.description %></p>
      </div>

    </div>
  <% end %>

</section>
