<%# if current_user %>
<%= form_for [@project, @update] do |f| %>
  <div>
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>
  <div>
    <%= f.label :update %>
    <%= f.text_field :body %>
  </div>
  <div>
    <%= f.submit %>
  </div>

  <%= f.hidden_field :user_id, :value => current_user.id %>
  <%# f.hidden_field :project_id, :value => @project.id %>
  <%# reward, reward.pledges.new %>

<% end %>
