<%# if current_user %>
<% form_for [@project, @update] do |f| %>
  <div>
    <%= f.label :date %>
    <%= f.text_field :date %>
  </div>
  <div>
    <%= f.label :body %>
    <%= f.text_field :body %>
  </div>
  <div>
    <%= f.submit %>
  </div>

  <%= f.hidden_field :user_id, :value => current_user.id %>
  <%# f.hidden_field :project_id, :value => @project.id %>
  <%# reward, reward.pledges.new %>

<% end %>

<%# question: :project? %>
