<section class="container">

  <h2>Explore <span class="blue-underline"><%= @category.projects.count %></span> projects under <%= @category.category %></h2>

  <% @category.projects.each do |project| %>
    <article class="project">
      <p> <%= link_to project.title, project %> </p>
      <% if project.image %>
        <%= image_tag project.image.url if project.image_stored? %>
      <% else %>
        <%= image_tag ActionController::Base.helpers.asset_path("default.jpg") %>
      <% end %>
      <p> <%= project.description %> </p>
    </article>
  <% end %>
</section>
